* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.body {
    overflow: hidden;
}

#ymaps {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#reviews {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 380px;
    min-height: 520px;
    padding-bottom: 15px;
    background-color: white;
    overflow: hidden;
}



.reviews__header {
    position: relative;
    font-size: 16px;
    padding: 20px 36px 12px 36px;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px 8px;
}

.hidden {
    display: none;
}


.reviews__close {
    position: absolute;
    height: 3px;
    width: 22px;
    right: 8px;
    top: 4px;
    text-align: center;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }

}

.reviews__close-plank {
    display: block;
    background: black;
    border-radius: 10px;
    transition: all 0.2s;
    transform: rotate(45deg) translate(10px, 0px);

    &:nth-child(2) {
        transform: rotate(-45deg) translate(0px, 10px);
    }
}





.reviews__form h3 {
    text-align: left;
    margin-bottom: 15px;
    padding-left: 20px;
}

.reviews__form input[type='text'] {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 1px solid #9f9f9f;
    outline: none;
    line-height: 32px;
}

.reviews__form textarea {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 14px;
    height: 130px;
    border: 1px solid #9f9f9f;
    padding: 5px 9px;
    outline: none;
    resize: none;
}

.reviews__form button {
    color: #ffffff;
    background-color: #ff8663;
    border: none;
    cursor: pointer;
    padding: 5px 16px 7px 16px;
    transition: all, 0.3s;
    min-height: 38px;
    margin-left: 19px;
}

.reviews__form button:hover {
    background-color: #cc411a;
}

.balloon {
    position: relative;
    height: 160px;
    padding-top: 4px;
    color: #272727;
}







.balloon__footer {
    position: absolute;
    right: 0;
    bottom: 0px;
}

.balloon__footer span {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: #272727;
}

.reviews__content {
    height: 150px;
    overflow-y: auto;
    padding: 10px 20px;
}

.reviews__content ul {
    list-style-type: none;
}

.reviews__content li {
    margin-bottom: 10px;
}

.reviews__content span.name {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.reviews__content span.place,
.reviews__content span.time {
    color: #757575;
}

.reviews__content p.comment {
    color: #505050;
    font-weight: 500;
}