<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>map</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=281e3eb9-7206-4d12-9837-33bec209b825
&lang=ru_RU"></script>
</head>

<body>
    <div id="ymaps">
        <div id="reviews" class="hiddenRev">
            <div class="hiddenRev__header">
                <div class="hiddenRev__address"></div>
                <div class="hiddenRev__close">
                    <span class="hiddenRev__close hiddenRev__close-plank"></span>
                    <span class="hiddenRev__close hiddenRev__close-plank"></span>
                </div>
            </div>
            <div class="hiddenRev__content">
            </div>
            <form class="hiddenRev__form">
                <h3>Отзыв: </h3>
                <input name="name" type="text" placeholder="Укажите ваше имя">
                <input name="place" type="text" placeholder="Укажите место">
                <textarea name="comment" placeholder="Оставить отзыв"></textarea>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
</body>

</html>